body {
	   background-color: #272b30;
}

.title {
	color: #ffe300;
	font-family: sans-serif;
}

.title-info {
	display: flex;
	flex-wrap: wrap;
}

.title-card {
	color: #0e195d;
	box-shadow: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #555e95;;
	padding-left: 5px;
	padding-right: 5px;
	margin: 10px 0 10px 10px;
}

.title-card p {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.starship-container {
	display: flex;
	flex-wrap: wrap;
}

.starship-card {
	color: #555e95;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-sizing: border-box;
	margin: 10px 10px 10px 0;
	padding-left: 5px;
	width: 250px;
	background-color: #ccc;
}

.starship-card p{
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	font-weight: bold;
}